
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/components/css/style2.css">

</head>

<body>

    <nav class="nav">
        <ul>
    <img style="height: 60px; align-items: center ; position: center; justify-content: center" src="/components/img/1.png" alt="" srcset="">
    <li></li>
            <!-- <li>PixeliZ</li> -->
        </ul>
    </nav>

<div id="container">
	<div id="sidebar">
		<ul>
            <h3>Get started</h3>
            <li>Installation</li>
            <li>Editor Setup</li>
            <li>Over View</li>
            <h3>Documentations</h3>
            <li>Core Concepts</li>
            <li>Customization</li>
            <h3>Components</h3>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
            <li>Slider</li>
        </ul>
		<div id="sidebar-content" ></div>
	</div><!--
 --><div id="content">
		<img class="img" src="/components/img/1.png" alt="" srcset="">
		<div id="main-content" ></div>
	</div>
</div>

</body>
</html>