
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(255, 255, 255, 0.925);
    height: 60px;
    border-bottom: #e7e7e7;
    border-width: 2px;

   
}
nav ul{

    display: flex;
    border-bottom: #000000;

    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
    color: #1B2430;
}
h3{
	text-decoration: none;
    list-style: none;
    
    color:#1B2430;
	font-size: 1rem;
	font-weight: 550;
	
	margin-bottom: .5rem;
	color: #0ea5e9;
	
	margin-left: 2rem;

}
li{
    text-decoration: none;
    list-style: none;
    
    color:#1B2430;
	font-size: 1rem;
	font-weight: 549.5;
	margin-bottom: .5rem;
	padding: .6rem;
	cursor: pointer;
	margin-left: 2rem;
	margin-right: 1rem;



}

li:hover{
    text-decoration: none;
    list-style: none;
    
    color:#000000;
	font-size: 1rem;
	font-weight: 549.5;
	margin-bottom: .5rem;
	cursor: pointer;
	background: rgb(221, 220, 220);
	border-radius: 7px;
	/* padding: .7rem; */
	


}




html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background:#f9f8fd;
}

#container {
	height: 100%;
}

#sidebar {
	padding-top: 1.5rem;
	background-color: #e8ebec;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 18%;
	overflow: auto;
}

#content {
	padding-top: 2.5rem;
	padding-left: 2.5rem;
	background-color: #f8f8f8;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: auto;
	overflow: auto;
}


